# Using clang-format v18.0.0
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
Language: Cpp
BasedOnStyle: Google
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0
IndentWidth: 4
ReflowComments: true
---
